{% extends "base.html" %}
{% block title %}Edit Gunpla{% endblock %}
{% block content %}
  <h1>Edit Gunpla</h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    <p>
      {{ form.name.label }}<br>
      {{ form.name(size=32) }}<br>
      {% for error in form.name.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.series.label }}<br>
      {{ form.series(size=32) }}<br>
      {% for error in form.series.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.grade.label }}<br>
      {{ form.grade(size=32) }}<br>
      {% for error in form.grade.errors %}
        <span class="error">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.scale.label }}<br>
      {{ form.scale(size=32) }}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}